* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    /*     font-family: 'Roboto', sans-serif;
 */
}

:root {
    --bs-success
}


/* navbar */
.supertop {
    width: 100%;
    height: 4.375rem;
   
}

.logo-s {
    width: 2.5rem;
}

.fa-bell {
    color: gold;
}
.form-control:focus{
    border-color: none;
    box-shadow: none;
}
/* navbar */


/* col sx */

.col-sx {
    padding: 0.625rem;
    height: calc(100vh - 4.375rem);
    background-color: #051e34;
    color: white;

}
.home:hover{
    background-color: rgb(255, 253, 253, 0.5);

} 
.stats:hover{
    background-color: rgb(255, 253, 253, 0.5);

}
 .signals:hover{
    background-color: rgb(255, 253, 253, 0.5);

 }
 .admin:hover{
    background-color: rgb(255, 253, 253, 0.5);
}




/* col dx */

.col-dx {
    overflow-y: auto;

}

.intestazione {
    background-color: #1b72e8;
    height: 7.5rem;
}
.btn-secondary-bell{
    background-color: transparent;
}
.btn:focus{
    box-shadow: none ;
}
.btn-secondary {
    background-color: #165bba;
    border-style: none;
}

.btn-secondary:hover {
    background-color: #134d9d;
}

.new>.btn-secondary {
    background-color: transparent;
    border: 1px solid white;
}

.new>.btn-secondary:hover {
    filter: invert(1);
    background-color: black;
}

/* core */
.core {
    height: 100%;
}

.upper {
    height: auto;
    background-color: #f7f7f7;
    border-bottom: 1px solid black;
}

hr {
    font-size: small;
    margin-bottom: 1px;
}


.graph {
    background-color: white;
}

.text-bg-danger {
    background-color: red;
}

.text-bg-warning {
    background-color: rgb(220, 220, 37);
}

.text-bg-success {
    background-color: green;
}

.month {
    padding: 0.9375rem;
}

.fa-trash, .fa-square-pen{
    border: 0.0625rem solid black;
    padding: 0.3125rem;
    border-radius: 5px;
}

/* col dx */

.si{
    background-color: red;
}

.px-3 {
    background-color: #fff;
}